excel feature requirements
-tabela
-formule u celijama tabele
-bojenje celija i texta
-ubacivanje i brisanje redova i kolona
-wrap text i merge
-formati celije - general, number, percentage, date
-search
-charts
-equations
-symbols
-sort
-komentari
-save
-undo redo
-otvaranje fajlova